version: '3.9'
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ramadan
      POSTGRES_USER: ramadan
      POSTGRES_PASSWORD: ramadan
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - '6379:6379'

  meilisearch:
    image: getmeili/meilisearch:v1.8
    environment:
      MEILI_MASTER_KEY: masterKey
    ports:
      - '7700:7700'

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    environment:
      DATABASE_URL: postgresql://ramadan:ramadan@postgres:5432/ramadan
      REDIS_URL: redis://redis:6379
      MEILI_URL: http://meilisearch:7700
      MEILI_MASTER_KEY: masterKey
    depends_on:
      - postgres
      - redis
      - meilisearch
    ports:
      - '3000:3000'

volumes:
  postgres_data:
